/*

    CSS Styles for retrieving EventBrite events

    Udacity Frontend Web Dev Nano Project 5: Neighborhood Map
    Shawn Jackson <hello@shawnj.es>

 */

body,
div,
ul,
li,
p,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-weight: normal;
}

/*
    For proper Google Map rendering, all map containers
    must be full height
*/
html,
body,
.container-fluid,
#map-div,
#main {
    height: 100%;
}

html {
    background-color: #870735;
}

* {
    font-family: 'Source Sans Pro', sans-serif;    
}

#map {
	width:100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

body {
    -webkit-transition: opacity 500ms ease-out;
    transition: opacity 500ms ease-out;
}

/* Body element will be initially transparent. We'll fade
   everything in after content is loaded and formatted
 */
.invisible {
    opacity: 0;
}

a {
  color: #1199c3;
  text-decoration: none;
  display: block;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
}

.list-group-item > .place {
  color: #f1f1f1;
  font-weight: 300;
  display: block;
  padding-bottom: 2px;
}

.list-group-item > .small {
    color: #fdd3e3;
    font-weight: 300;
    padding-top: 0;
    padding-right: 0;
}

.list-group-item > .small.ev-date {
    color: #fdd3e3;
}

.list-group-item > .small.ev-time {
    color: #fdd3e3;
    font-weight: 400;
}

.list-group-item:nth-last-child(2) {
    border-bottom: none;
}

.list-group-item span:nth-child(n+3) {
    padding-left: 0;
    padding-right: 0;
}

.list-group-item,
.list-group-item:first-child,
.list-group-item:last-child {
  padding-top: 4px;
  padding-bottom: 4px;
  background: rgba(0,0,0,0.92);
  border: 1px solid #282828;
  font-weight: 400;

  -webkit-transition: background 400ms; /* Safari */
  transition: background 400ms;  
}

a.list-group-item.no-events,
a.list-group-item.no-events:hover {
  background: rgba(0,0,0,0.92);
  cursor: default;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
}

.no-events-text,
.no-events-search {
    color: #d7d7d7;
    padding-left: 0;
    padding-right: 0;
}

.no-events-search {
    color: #e1e1e1;
}

.no-show {
    display: none;
}

a.list-group-item:focus,
a.list-group-item:first-child:focus,
a.list-group-item:last-child:focus {
  background: rgba(0,0,0,0.92);
}

.hi-lite,
.hi-lite:first-child,
.hi-lite:last-child,
a.list-group-item:hover {
  background: rgba(160,8,64,.98);
}

.panel-default>.panel-heading {
    background-color: #870735;
    height: 56px;
}

.panel-heading p {
    margin-top: 9px;
}

.panel-heading button {
    margin-top: 5px;
}

.panel-body {
    background-color: #080808;
}

.panel-default>.panel-heading,
.panel-body {
    color: #fefefe;
}

.panel-default>.panel-heading p { 
    font-family: 'Merriweather', sans-serif;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}

.panel-default,
.panel-default>.panel-heading {
    border: none;
}

.panel>.list-group:last-child .list-group-item:last-child,
.panel-heading,
.list-group-item:first-child,
.list-group-item:last-child,
.input-group-addon,
.form-control {
    border-radius: 0;
}

.panel-default {
    max-width: 360px;
}


#content-wrapper {
    z-index: 1000;
}

#events-panel-widget {
    z-index: 1020;
    -webkit-box-shadow: 3px 3px 2px rgba(4, 4, 4, 0.3);
    -moz-box-shadow: 3px 3px 2px rgba(4, 4, 4, 0.3);
    box-shadow: 3px 3px 2px rgba(4, 4, 4, 0.3);
    border-bottom: 8px solid #870735;
    border-radius: 0;
}

#events-panel-widget,
.wine-event-list {
    background: transparent;
}

.fa-filter {
    color: #870735;
}

#info-window-content {
    max-height: 240px;
}

.btn-primary-outline {
    color: #870735;
    background-color: transparent;
    background-image: none;
    border-color: #870735;
    margin-top: 6px;
}

.btn-primary-outline:hover {
    color: #fff;
    background-color: #870735;
}

.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}

#events-panel-widget,
#show-hide-panel {
    position: absolute;
    top: 58px;
    left: -372px;

    -webkit-transition: all 180ms ease-out;
    -o-transition: all 180ms ease-out;
    transition: all 180ms ease-out;    
}

#show-hide-panel {
    left: 0;
}

#show-hide-panel.inactive {
    left: -60px;
}

#events-panel-widget.active {
    left: 0;
}

#show-hide-panel .panel-heading {
    padding-left: 2px;
    padding-right: 2px;
}

.btn.btn-default,
.btn-default:active:hover,
.btn-default:active:focus {
    color: #fff;
    background-color: #870735;
    padding-top: 1px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    border-width: 0;
}

span.glyphicon.glyphicon-triangle-left:focus,
span.glyphicon.glyphicon-list-alt:focus,
.btn-default:focus {
    outline: none;
}

span.glyphicon.glyphicon-list-alt {
    font-size: 16px;
    padding-top: 2px;
    margin-top: 2px;
}

#show-hide-panel button {
    padding-bottom: 1px;
    padding-right: 12px;
}

.btn:active {
    box-shadow: none;
    -webkit-box-shadow: none;
}

.btn:active:focus,
.btn:focus {
    outline: none;
}

.panel-toggle {
    display: block;
}

.panel-toggle {
    position: absolute;
    top: 58px;
    left: 0;
    padding-left: 0;
    padding-top: 0;
    z-index: 1010;
}

@media screen and (min-width: 640px) {
    .panel-heading button, #show-hide-panel {
        display: none;
    }
}